<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Passive VLC data collection</title>
  </head>

  <body ng-controller="passive">
    <div>Number of samples: <input type="number" ng-model="nsamples"></div>
    <button style="height:50px;width:250px;" ng-click="collectall()" ng-show="countdown==0">Collect</button>
    <div><h1 style="color:red;">{{message}}</h1></div>
    <div>Countdown: {{countdown}}</div>
    <div>File prefix: <input type="text" ng-model="fileprefix"></div>
    <div ng-repeat="device in devices">
      <h3>{{device.name}}</h3>
      <div>IP: {{device.ip}}</div>
      <div>HWID: {{device.hwid}}</div>
      <div>Last Seen: {{device.seenpretty}}</div>
      <div>{{device.message}}</div>
      <div ng-show="device.data.length>0">Data: {{device.data}}</div> 
    </div>

    <div>Version: {{VERSION}}</div>

    <script>
      require('angular')
      require('./index.js')
    </script>
  </body>
</html>